@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "IBM Plex Sans", sans-serif;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}



@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
.animate-spinn {
    animation: spin 4s linear 7;
}

.animate-spiner{
    animation: spin 10s linear infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(-25%);
        animation-timing-function: cubic-bezier(0.8,0,1,1);
    }
    50% {
        transform: none;
        animation-timing-function: cubic-bezier(0,0,0.2,1);
    }
}
.animate-bouncee {
    animation: bounce 1s 7;
}

@keyframes slide-in {
    0%{
        transform: translateX(50%);
    }
    50%{
        transform: translateY(0%);
    }
}

.slide-in{
    animation: slide-in 3s;
}